@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

h1, p {
    margin: 0;
}

.perfume{
    color: var(--Dark-grayish-blue);
}
.gabrielle__essence {
    color: var(--Very-dark-blue);
}

p,.cancel {
    color: var(--Dark-grayish-blue);
}

span{
    color: var(--Dark-cyan);
}




img {
    display: block;
    max-width: 100%;
}


body {
    background-color: var(--Cream);
    font-family: 'Montserrat', sans-serif;
    display: grid;
    place-content: center;
    min-height: 100vh;
   
 
}



.mobile {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: none;
}

.container{
    background-color: var(--White);
    border-radius: 10px;
    max-width: 580px;
    
    
    
}

.wrapper {
    display: grid;
    grid-template-columns: max-content auto auto;
    gap: 10px;
}

.wrapper__images{
    height: 100%;
}

.wrapper__images .desktop {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
    max-width: 300px;
}

.wrapper__content {
    padding: 20px 15px;
}


.wrapper__content .perfume{
    font-size: .7em;
    font-weight: 700;
    letter-spacing: 7px;
    padding-top: 10px;
    opacity: .7;
    text-transform: uppercase;
    
}

.wrapper__content .gabrielle__essence {
    font-size: 1.8em;
    font-weight: 700;
    line-height: 29px;
    padding-top: 30px;
    padding-bottom: 15px;
    text-transform: capitalize;
    
}


.wrapper__content p {
    font-size: .9em;
    font-weight: 500;
    line-height: 20px;
    padding-top: 20px;
}

.figs {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
}

.cur{
    font-size: 1.8em;
    font-weight: 700;
}

.cancel{
    font-size: .8em;
    font-weight: 500;
    text-decoration: line-through;
    
}


 .button {
    border: none;
    background-color: var(--Dark-cyan);
    border-radius: 14px;
    color: var(--White);
    font: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: .9em;
    font-weight: 500;
    margin-top: 30px;
    padding: 18px 40px;
}

.button img{
    height: 14px;
    width: 14px;
}

.button:hover{
    cursor: pointer;
    background-color: hsl(158, 76%, 10%);
    font-weight: 700;
    /* transition: all 1s ease-in-out; */
}



@media (max-width: 48em){
    .desktop{
        display: none;
    }

    .wrapper__images  .mobile {
        display: block;
        height: 100%;  
        max-width: 350px;
        
    }

    .container{
        max-width: 350px;
    }

    .wrapper {
       grid-template-columns: repeat(1,1fr);
    }   
    

    .wrapper__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        
    }
     
    .wrapper__content .perfume {
        padding-left: 12px;
    }

    .wrapper__content .gabrielle__essence {
        padding-left: 15px;
        padding-top: 15px;
    }

    .wrapper__content p {
        padding-left: 16px;
        padding-top: 10px;
    }

    .figs {
         padding-bottom: 20px;
         padding-left: 15px;
         padding-top: 15px;
         
    }

    .button{
        
        margin: 0 auto;
        padding: 15px 100px;
    }
    

}

@media (max-width: 20em){
    .container {
        max-width: 270px;
    }

    .wrapper__images .mobile {
        max-width: 270px;
    }

    .wrapper__content{
        padding-left: 8px;
    }

    .wrapper__content .gabrielle__essence{
        font-size: 1.5em;
    }

    .figs{
        padding-left: 20px;
    }

    .button {
        padding: 15px 60px;
    }

}